<div style="text-align: center;">
<h1>Chirpus' Cantina on Main</h1>
<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flive.staticflickr.com%2F7545%2F27969796116_6eb1688117_b.jpg&f=1&nofb=1&ipt=b90b09ff5f4f77ef824c5cbac9ed896096c7a776467e3b16d54e80440562276a&ipo=images"style="border-radius: 40cap">


<h1>Todays Specials</h1>
<div *ngFor="let i of allItems">
  <h2>{{ i.name }}</h2> 
  <p>{{ i.category }}</p>
  <p>${{ i.price }}</p>
  <p>{{ i.category }}</p>
  <img [src] ="i.imageUrl"height="200" style="border-radius: 1cap;">
</div>

<p>*Must show proof of ID for all alcoholic beverages*</p>
</div>